@import "./variables";
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// nav start#
header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-weight: 400;
  z-index: 1000;
  nav {
    background-color: $Very-Dark-Violet;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    z-index: 100;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    &::after {
      content: "";
      display: block;
      height: 218px;
      width: 100%;
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
    }
    .nav-list {
      margin-top: 1.2rem;
      @include flexCenter(column, center);
    }
    .nav-list-item {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0.5rem 0.5rem;
      &:last-child {
        border: 1px solid #fff;
      }
      .nav-list-link {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: $body-font;
        font-weight: 700;
      }
    }
  }
  nav.open {
    transform: scale(1);
  }
}
// hambuger menu button
.hamburger {
  height: 30px;
  width: 30px;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger:focus {
  outline-color: $Very-Dark-Violet;
}
.hamburger span {
  height: 2px;
  width: 20px;
  background-color: black;
  display: block;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.hamburger span::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  display: block;
  transform: translateY(5px);
}
.hamburger span::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: black;
  display: block;
  transform: translateY(-5px);
}

.hamburger.active span {
  transform: rotate(405deg);
  &::before {
    opacity: 0;
  }

  &::after {
    transform: translateY(0) rotate(-450deg);
  }
}

// fonts

h1,
h2,
h3,
a {
  font-family: $heading-font;
  font-weight: 400;
}

p {
  font-family: $body-font;
}

// main content

main {
  margin-top: 10vh;
}
.banner {
  margin-bottom: 8rem;
  position: relative;
  &-image {
    height: 451px;
    width: 100%;
    background-image: url("../images/image-intro-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 75%;
  }
  &-content {
    position: relative;
    padding: 1rem;
    background-color: $Dark-Violet;
    color: #fff;
    text-align: center;
    height: 400px;
    width: 100%;
    z-index: 1;
    @include flexCenter(column, space-around);
    h1 {
      font-size: 2rem;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }

    a {
      color: #fff;
      text-decoration: none;
      border: 2px #fff solid;
      padding: 0.5rem 1rem;
      z-index: 2;
      transition: background-color 0.3s ease-in-out;
    }

    &::before {
      content: "";
      width: 124px;
      height: 330px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/bg-pattern-intro-left-mobile.svg");
      background-repeat: no-repeat;
      z-index: -1;
    }
    &::after {
      content: "";
      width: 124px;
      height: 330px;
      position: absolute;
      bottom: -50%;
      right: 0;
      background-image: url("../images/bg-pattern-intro-right-mobile.svg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

// sections
.section-margin {
  margin: 3rem 1.2rem;
}
//  about us section
.about-us {
  text-align: center;
  &-line {
    width: 25%;
    height: 0.1rem;
    background-color: $Dark-Grayish-Violet;
    margin: 0 auto 1rem auto;
    opacity: 0.4;
  }
  h1 {
    font-size: 2rem;
  }
}

.cards {
  @include flexCenter(column, center);
  margin-top: 2rem;
}
.card {
  margin: 1rem 0;
  @include flexCenter(column, space-between);
  height: 15rem;
  p {
    color: $Grayish-Blue;
  }
}

// how we work

.how-we-work {
  position: relative;
  height: 340px;
  background-color: $Dark-Violet;
  @include flexCenter(column, center);
  padding: 2rem;
  color: #fff;
  h1 {
    font-size: 1.8rem;
    text-align: center;
    z-index: 10;
  }

  a {
    border: 2px solid #fff;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    letter-spacing: 2px;
    font-family: $heading-font;
    font-weight: 400;
    margin: 2rem 0 0;
    transition: background-color 0.3s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
    width: 176px;
    height: 317px;
    top: 0;
    right: 0;
  }
}

// footer
.footer {
  background-color: $Very-Light-Gray;
  padding-top: 100px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  &::before {
    content: "";
    background-image: url("../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 173px;
    width: 100%;
    z-index: -1;
  }
  .footer-header {
    z-index: 100;
    @include flexCenter(column, center);
    &-logo {
      margin: 1rem 0;
    }
    .social-media-links {
      margin: 1rem 0;
      a {
        font-size: 1.3rem;
        color: #837d88;
        margin: 0 5px;
        transition: color 0.3s ease-in;
      }
    }
  }
  &-line {
    width: 90%;
    height: 0.1rem;
    background-color: $Dark-Grayish-Violet;
    margin: 0 auto 1rem auto;
    opacity: 0.4;
  }

  &-links-heading {
    color: $Dark-Grayish-Violet;
    font-weight: 400;
    font-family: $heading-font;
    font-size: 1rem;
  }
  &-links {
    @include flexCenter(column, center);
    text-align: center;

    div {
      margin: 1rem 0;
    }
    a {
      text-decoration: none;
      color: $Very-Dark-Violet;
      font-family: $body-font;
      font-weight: 700;
      padding: 0.3rem 0;
      font-size: 1rem;
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  header {
    padding: 0 10rem;
    nav {
      background-color: transparent;
      position: relative;
      left: 0;
      top: 0;
      width: 60%;
      height: 0;
      transform: scale(1, 1);
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: none;
      }
      .nav-list {
        margin-top: 0;
        @include flexCenter(row, center);
      }
      .nav-list-item {
        list-style: none;
        margin: 0 0.5rem;
        padding: 0.5rem 0.5rem;
        .nav-list-link {
          color: $Dark-Violet;
          opacity: 0.5;
          letter-spacing: 3px;
          font-size: 1rem;
        }
        &:last-child {
          border: 2px solid $Dark-Violet;
          margin-right: 0;
          transition: background-color 0.3s ease-in-out;
          .nav-list-link {
            opacity: 1;
            font-weight: 700;
          }
        }
      }
    }
  }

  .banner {
    @include flexCenter(row-reverse, center);
    background: linear-gradient($Dark-Violet 90% 70%, #fff 30% 100%);
    margin-bottom: 8rem;
    position: relative;
    height: 100vh;
    &::before {
      content: "";
      background-image: url("../images/bg-pattern-intro-left-desktop.svg");
      position: absolute;
      top: 60%;
      left: 0;
      width: 195px;
      height: 504px;
    }
    &::after {
      content: "";
      background-image: url("../images/bg-pattern-intro-right-desktop.svg");
      position: absolute;
      top: 0;
      right: 0;
      width: 436px;
      height: 593px;
    }
    &-image {
      height: 540px;
      width: 650px;
      background-image: url("../images/image-intro-desktop.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 0;
      transform: translate(0px, 70px);
    }
    &-line {
      display: block;
      position: absolute;
      top: 130px;
      left: 15px;
      width: 10%;
      height: 0.1rem;
      background-color: #fff;
    }
    &-content {
      text-align: left;
      height: 300px;
      width: 500px;
      @include flexCenter(column, space-around);
      margin-bottom: 50px;
      h1 {
        font-size: 3rem;
      }

      &::before {
        content: "";
        display: none;
      }
      &::after {
        content: "";
        display: none;
      }
    }
  }
  .section-margin {
    margin: 3rem 10rem;
  }
  .about-us {
    text-align: left;
    &-line {
      margin: 0;
      width: 20%;
    }
    h1 {
      font-size: 3rem;
    }
  }

  .cards {
    @include flexCenter(row, center);
    margin-top: 2rem;
  }
  .card {
    margin: 1rem 0;
    @include flexCenter(column, space-between);
    align-items: flex-start;
    height: 15rem;
    margin: 0 1rem;
    p {
      color: $Grayish-Blue;
    }
  }

  .how-we-work {
    @include flexCenter(row, space-between);
    height: 250px;
    z-index: 1;
    h1 {
      font-size: 3rem;
      width: 50%;
      padding: 0 2rem;
      text-align: left;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
      width: 434px;
      height: 250px;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  .footer {
    .footer-header {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 10rem;
    }
    &-links {
      margin: 0 10rem;
      flex-direction: row;
      justify-content: space-between;
    }
    &::before {
      content: "";
      background-image: url("../images/bg-pattern-footer-desktop.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      height: 231px;
      width: 528px;
      z-index: -1;
    }
    &-line {
      width: 80%;
      height: 0.1rem;
      background-color: $Dark-Grayish-Violet;
      margin: 0 auto 1rem auto;
      opacity: 0.4;
    }
  }
}

@media (min-width: 1440px) {
  header {
    nav {
      width: 50%;
      justify-content: flex-end;
      &::after {
        content: "";
        display: none;
      }
      .nav-list {
        margin-top: 0;
        @include flexCenter(row, center);
      }
      .nav-list-item {
        list-style: none;
        margin: 0 0.5rem;
        padding: 0.5rem 0.5rem;
        .nav-list-link {
          color: $Dark-Violet;
          opacity: 0.5;
          letter-spacing: 3px;
          font-size: 1rem;
          font-weight: 400;
        }
        &:last-child {
          border: 2px solid $Dark-Violet;
          margin-right: 0;
          .nav-list-link {
            opacity: 1;
          }
        }
      }
    }
  }

  .banner {
    &-image {
      transform: translate(170px, 70px);
    }
    a {
      margin-right: auto;
    }
    &-line {
      left: 200px;
    }
  }
}
@media (pointer: fine) {
  header {
    nav {
      .nav-list-item {
        .nav-list-link:hover {
          opacity: 1;
        }
        &:last-child:hover {
          border: 2px solid $Very-Dark-Violet;
          background-color: $Very-Dark-Violet;
          margin-right: 0;
          .nav-list-link {
            color: #fff;
          }
        }
      }
    }
  }
  .banner {
    &-content {
      a:hover {
        background-color: #fff;
        color: $Dark-Violet;
      }
    }
  }
  .how-we-work {
    a:hover {
      background-color: #fff;
      color: $Dark-Violet;
    }
  }

  .footer {
    .social-media-links {
      a:hover {
        color: $Dark-Violet;
      }
    }
    &-links {
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
